@import "../node_modules/bootstrap/scss/bootstrap";

/* =========Colors=========== */
$very-dark-blue: #070439; /* hsl(243, 87%, 12%) */
$desaturated-blue: #585989; /* hsl(238, 22%, 44%) */
$bright-blue: #3065f8; /* hsl(224, 93%, 58%) */
$moderate-cyan: #3c9f8f; /* hsl(170, 45%, 43%) */
$light-grayish-blue: #f6f6fe; /* hsl(240, 75%, 98%) */
$light-gray: #bfbfbf; /* hsl(0, 0%, 75%) */

/* =========Fonts=========== */
$font-family-raleway: "Raleway", sans-serif;
$font-family-open: "Open Sans", sans-serif;

/* =========Custom Bootstrap=========== */
$navbar-brand-font-size: 19px;
// $spacer: 25rem;

// $thumbnail-padding: 90rem;
// $h2-font-size: 5rem;


h2{
    font-family: $font-family-raleway;
    color: $very-dark-blue;
    font-size: 4rem;
    font-weight: 700;
}
.navbar{
    font-family: $font-family-raleway;
    font-size: $navbar-brand-font-size;   
}
.body-img {
    // width: $thumbnail-padding;
    width: 45rem;
}
p{
    font-family: $font-family-raleway;
    font-size: 2rem;
}
.form-control {
    font-family: $font-family-raleway;
    font-size: 1.4rem;
    border-color: $very-dark-blue;
}
.btn {
    background-color: $bright-blue;
    font-family: $font-family-raleway;
    font-size: 1.4rem;
    font-weight: 700;
    color: $light-grayish-blue;
    margin-right: 4rem;
    width: 36rem;
    padding: 1rem;
}

.hero1 {
    display: grid;
    padding-top: 8rem;
    grid-template-rows: repeat(2, 1fr); /* Define dos filas */
  }
  
  @media (max-width: 768px) {
    .hero-text {
      order: 2;
    }
    .hero-img {
      order: 1;
    }
  }
  @media (min-width: 768px) {
    .hero1{
        grid-template-columns: repeat(2, 1fr);
  }
}
.hero2 {
    padding-top: 25rem;
}

.body-img {
    padding-top: 5rem;
}

.see-works {
    color: $moderate-cyan;
    padding-top: 0.7rem;
    height:  3rem;
}
.info {
    display: flex;
}

.img__info {
    width: 2rem;
    height:  auto;
}
.underline {
    width: 21rem;
    border-color: $moderate-cyan;
    border-bottom: $moderate-cyan;
    border-top-width: 2px;
}
.quote {
    padding-top: 4rem;
    padding-left: 4rem;
    float: left;
    width: 41rem;
}



.card__quote{
    display: flex;
    width: 30rem;
}
.founder__img{
    border-radius: 15rem;
    width: 7rem;
}


.founder__section {
    width: 70rem;
    height: 2rem;
}
.founder__name {
    color: $very-dark-blue;
    font-size: 1.6rem;
    font-weight: 700;
}
.founder__role{
    font-size: 1.1rem;
}
.texto1 {
    font-size: 16px;
    color: #444444;
    margin: 1rem;
}
.texto2 {
    font-size: 16px;
    color: #444444;
    margin: 1rem;
}

.block-info {
    
}
.contact {
    width: 100%;
    background-color: $desaturated-blue;
    height: 25rem;
    display: flex;
  justify-content: center;
  align-items: center;
}
.contact__info{
    width: 42rem;
}
.contact__info--title {
    font-family: $font-family-raleway;
    font-weight: 700;
    color: $light-grayish-blue;
    font-size: 2.5rem;

}
.contact__info--description {
    font-family: $font-family-raleway;
    color: $light-grayish-blue;
    font-size: 1.3rem;
}
.contact__form2 {

}