@import "../node_modules/bootstrap/scss/bootstrap";

/* =========Colors=========== */
$very-dark-blue: #070439;
$desaturated-blue: #585989;
$bright-blue: #3065f8;
$moderate-cyan: #3c9f8f;
$light-grayish-blue: #f6f6fe;
$light-gray: #bfbfbf;

/* =========Fonts=========== */
$font-family-raleway: "Raleway", sans-serif;
$font-family-open: "Open Sans", sans-serif;

/* =========Custom Bootstrap=========== */
$navbar-brand-font-size: 19px;


h2{
    font-family: $font-family-raleway;
    color: $very-dark-blue;
    font-size: 4rem;
    font-weight: 700;
}
.navbar{
    font-family: $font-family-raleway;
    font-size: $navbar-brand-font-size;
}
.navbar-link:hover {
    font-weight: 700;
}

@media (max-width: 740px) {
    .logo  {
        width: 50%;
        margin: 0 auto;
    }
    .links {
        width: 100%;
        margin: 0 auto;
    }
}
.body-img {

    width: 45rem;
}
p{
    font-family: $font-family-raleway;
    font-size: 2rem;
}
.form-control {
    font-family: $font-family-raleway;
    font-size: 1.4rem;
    border-color: $very-dark-blue;
}
.btn {
    background-color: $bright-blue;
    font-family: $font-family-raleway;
    font-size: 1.4rem;
    font-weight: 700;
    color: $light-grayish-blue;
    margin-right: 4rem;
    width: 36rem;
    padding: 1rem;
}
.container-1 {
    margin-top: 10rem;
}
.hero1 {
    display: grid;

    margin-top: 1rem;
    grid-template-rows: repeat(2, 1fr); 
  }

  @media (max-width: 740px) {
    .hero-text {
      order: 2;
    }
    .hero-img {
      order: 1;
    }
  }
  @media (min-width: 740px) {
    .hero1{
        grid-template-columns: repeat(2, 1fr);
  }
}
.hero2 {
    display: grid;
    margin-top: 8rem;
    grid-template-rows: repeat(1, 1fr); 
}
@media (max-width: 740px) {
    .hero-text2 {
      order: 2;
    }
    .image-hero2 {
      order: 1;
    }
}

.body-img {
    padding-top: 5rem;
}

.see-works {
    color: $moderate-cyan;
    padding-top: 0.7rem;
    height:  3rem;
}
.info {
    display: flex;
}

.img__info {
    width: 2rem;
    height:  auto;
}
.underline {
    width: 21rem;
    border-color: $moderate-cyan;
    border-bottom: $moderate-cyan;
    border-top-width: 2px;
}
.quote {
    padding-top: 4rem;
    padding-left: 4rem;
    float: left;
    width: 41rem;
}
@media (max-width: 740px) {
    .quote {
      width: 90%;
      margin: 0 auto;
      

  }
}
.card__quote{
    display: flex;
    width: 30rem;
}

.founder__img{
    border-radius: 15rem;
    width: 7rem;
}


.founder__section {
    width: 70rem;
    height: 2rem;
}
.founder__name {
    color: $very-dark-blue;
    font-size: 1.6rem;
    font-weight: 700;
}
.founder__role{
    font-size: 1.1rem;
}
.texto1 {
    font-size: 16px;
    color: #444444;
    margin: 1rem;
}
.texto2 {
    font-size: 16px;
    color: #444444;
    margin: 1rem;
}
.contact {
    margin-top: 7rem;
    width: 100%;
    padding-top: 1vh;
    background-color: $desaturated-blue;
    height: 27rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.button-2 {
    margin-right: 4rem;
    width: 15rem;
}

@media (max-width: 740px) {
    .contact {
      flex-direction: column;
    }
    .button-2 {
        width: 100%;
    }
    .contact__info {
        text-align: center;
    }
  }

.contact__info{
    width: 39rem;
}
.contact__info--title {
    font-family: $font-family-raleway;
    font-weight: 700;
    color: $light-grayish-blue;
    font-size: 2.5rem;

}
.contact__info--description {
    font-family: $font-family-raleway;
    color: $light-grayish-blue;
    font-size: 1.3rem;
}
.input-2 {
    height: 4rem;
    float: left;
}
.footer{
    background-color: $very-dark-blue;
}
.footer2 {
    color: $light-grayish-blue;
    display: grid;
    justify-items: center;
    padding: 9rem;
}
@media (min-width: 740px) {
    .footer2 {
      grid-template-columns: repeat(4, 25%);
      gap:  2rem;
  }
}
.footer p {
    font-size: 15px;
}
.footer-logo {
    margin-bottom: -7rem;
    padding-top: 5rem;
    width: 16rem
}
.logo-section {
    width: 80%;
    margin: 0 auto;
}
@media (max-width: 740px) {
    .logo-section {
        width: 50%;
        margin: 0 auto;
    }
    .footer-enlace, .footer-enlace2 {
        margin-top: 1rem;
    }
    
}